{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="alert alert-info" role="alert">{{ 'info.change_password'|trans }}</div>

    {{ form_start(form) }}

    {{ form_widget(form) }} {# TODO modifier les label individuellement #}

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}


