{% extends 'base.html.twig' %}

{% block title %}Liste des Adhésions{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Adhésions</h1 class="my-4">

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>NickName</th>
            <th>Passwd</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MembershipDate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in members %}
            <tr>
                <td>{{ user.id }}</td>

                {{ include ("layout/global.user.html.twig",{'user': user } ) }}

                <td>{{ user.membershipDate ? user.membershipDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('member_show', {'id': user.id }) }}}">Voir</a>
                    <a href="{{ path('member_edit', {'id': user.id}) }}}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('member_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
