{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>NickName</th>
            <th>Passwd</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MembershipDate</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in members %}
            <tr>
                <td>{{ user.id }}</td>

                {{ include ("layout/global.html.twig",{'user': user } ) }}

                <td>{{ user.membershipDate ? user.membershipDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('member_show', {'id': user.id }) }}}">show</a>
                    <a href="{{ path('member_edit', {'id': user.id}) }}}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('member_new') }}">Create new</a>
{% endblock %}
