{% extends 'base.html.twig' %}

{% block title %}Liste des IsInvolvedIn{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des IsInvolvedIn</h1 class="my-4">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for is_involved_in in is_involved_ins %}
            <tr>
                <td>{{ is_involved_in.id }}</td>
                <td>{{ is_involved_in.role }}</td>
                <td>
                    <a href="{{ path('is_involved_in_show', {'id': is_involved_in.id}) }}">Voir</a>
                    <a href="{{ path('is_involved_in_edit', {'id': is_involved_in.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('is_involved_in_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
