{% extends 'base.html.twig' %}

{% block title %}Evénement{% endblock %}

{% block body %}
    <h1 class="my-4">Evénement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meet_up.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ meet_up.date ? meet_up.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('meet_up_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>

    <a href="{{ path('meet_up_edit', {'id': meet_up.id}) }}">Editer</a>

    {{ include('meet_up/_delete_form.html.twig') }}
{% endblock %}
