{% extends 'base.html.twig' %}

{% block title %}Hello StatisticsController!{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class ="stats">
    <h1 class="my-4">Statistiques</h1>
    <article class="artClasse">
        <p>{{render(controller('App\\Controller\\StatisticsController::last'))}}</p>
        <p>{{render(controller('App\\Controller\\StatisticsController::ShowLastEbook'))}}</p>
        <p>{{render(controller('App\\Controller\\StatisticsController::ShowMostBorrow'))}}</p>
        <p>{{render(controller('App\\Controller\\StatisticsController::LimitDate'))}}</p>
    <article>
</section>    

    

{% endblock %}

