{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block body %}
    <ul class="navAdmin">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('borrowing_index') }}">Borrowing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('book_index') }}">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ebook_index') }}">Ebook</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{{ path('audio_book_index') }}">Audio Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{{ path('cd_index') }}">Cd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{{ path('dvd_index') }}">Dvd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{{ path('journal_index') }}">Journal</a>
        </li>
</ul>

{% endblock %}
