{% extends 'base.html.twig' %}

{% block title %}Liste des Journaux{% endblock %}

{% block body %}
    <h1>Liste des Journaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Periodicity</th>
                <th>SubscriptionDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for journal in journals %}
            <tr>
                <td>{{ journal.id }}</td>
                <td>{{ journal.periodicity }}</td>
                <td>{{ journal.subscriptionDate ? journal.subscriptionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('journal_show', {'id': journal.id}) }}">Voir</a>
                    <a href="{{ path('journal_edit', {'id': journal.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('journal_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
