{% extends 'base.html.twig' %}

{% block title %}Journal index{% endblock %}

{% block body %}
    <h1>Journal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Periodicity</th>
                <th>SubscriptionDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for journal in journals %}
            <tr>
                <td>{{ journal.id }}</td>
                <td>{{ journal.periodicity }}</td>
                <td>{{ journal.subscriptionDate ? journal.subscriptionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('journal_show', {'id': journal.id}) }}">show</a>
                    <a href="{{ path('journal_edit', {'id': journal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('journal_new') }}">Create new</a>
{% endblock %}
