{% extends 'base.html.twig' %}

{% block title %}Journal index{% endblock %}

{% block body %}
    <h1>Journal index</h1>

    <table class="table text-center">
        <thead>
            <tr>
                {% include 'layout/globalProductTh.html.twig' %}
                <th>Periodicité</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in journals %}
            <tr>
                {% include "layout/globalProduct.html.twig" %}
                <td>{{ product.periodicity }}</td>
                <td>{{ product.subscriptionDate ? product.subscriptionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-center">
                    <a href="{{ path('journal_show', {'id': product.id}) }}" type="btn" class="btn btn-info mb-1">Voir</a>
                    <a href="{{ path('journal_edit', {'id': product.id}) }}" type="btn" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('journal_new') }}">Create new</a>
{% endblock %}
