{% extends 'base.html.twig' %}

{% block title %}Liste des Livres{% endblock %}

{% block body %}
    <h1>Liste des Livres</h1>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Code produit</th>
                <th>En stock</th>
                <th>Format</th>
                <th>Genre</th>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Nombre de pages</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.productCode }}</td>
                <td>{{ book.stock }}</td>
                <td>{{ book.format }}</td>
                <td>{{ book.category }}</td>
                <td>{% for book in book.isInvolvedIns %}
                        {{ book.creator }}
                    {% endfor %}
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.pages }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}" type="btn" class="btn btn-success">Voir</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}" type="btn" class="btn btn-secondary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
