{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr class="text-center">
                {% include "layout/globalProductTh.html.twig" %}
                <th>Auteur</th>
                <th>Nombre de pages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for product in books %}
            <tr>
                {% include "layout/globalProduct.html.twig" %}
                <td>
                    {% for product in product.isInvolvedIns %}
                        {{ product.creator }}
                    {% endfor %}
                </td>
                <td>{{ product.pages }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': product.id}) }}" type="btn" class="btn btn-info">Voir</a>
                    <a href="{{ path('book_edit', {'id': product.id}) }}" type="btn" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}" type="btn" class="btn btn-outline-secondary mb-3">Création</a>
{% endblock %}
