{% extends 'base.html.twig' %}

{% block title %}DVD{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/show_entity.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">DVD</h1>

    <table class="table text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dvd.id }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ dvd.duration ? dvd.duration|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="actions my-3">
        <a href="{{ path('dvd_edit', {'id': dvd.id}) }}" type="btn" class="btn btn-success">Editer</a>
        {{ include('dvd/_delete_form.html.twig') }}
        <a href="{{ path('dvd_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
    </div>
{% endblock %}