{% extends 'base.html.twig' %}

{% block title %}Editer Participation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Editer Participation</h1>

    {{ include('participate/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('participate/_delete_form.html.twig') }}

    <a href="{{ path('participate_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
{% endblock %}
