{% extends 'base.html.twig' %}

{% block title %}Participation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/show_entity.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Participation</h1>

    <table class="table text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participate.id }}</td>
            </tr>
            <tr>
                <th>BookingPlaces</th>
                <td>{{ participate.bookingPlaces }}</td>
            </tr>
            <tr>
                <th>AvailablePlaces</th>
                <td>{{ participate.availablePlaces }}</td>
            </tr>
        </tbody>
    </table>

    <div class="actions my-3">
        <a href="{{ path('participates_edit', {'id': participate.id}) }}" type="btn" class="btn btn-success">Editer</a>
        {{ include('participates/_delete_form.html.twig') }}
        <a href="{{ path('participates_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
    </div>
{% endblock %}
