{% extends 'base.html.twig' %}

{% block title %}Liste des Artistes / Auteurs{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Artistes / Auteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Role</th>
                <th>BirthDate</th>
                <th>DeathDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creator in creators %}
            <tr>
                <td>{{ creator.id }}</td>
                <td>{{ creator.firstName }}</td>
                <td>{{ creator.lastName }}</td>
                <td>{% for creator in creator.isInvolvedIns %}
                        {{ creator.role }}
                {% endfor %}</td>
                <td>{{ creator.birthDate ? creator.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ creator.deathDate ? creator.deathDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('creator_show', {'id': creator.id}) }}">Voir</a>
                    <a href="{{ path('creator_edit', {'id': creator.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('creator_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
