{% extends 'base.html.twig' %}

{% block title %}Artiste / Auteur{% endblock %}

{% block body %}
    <h1 class="my-4">Artiste / Auteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creator.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ creator.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ creator.lastName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ creator.birthDate ? creator.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DeathDate</th>
                <td>{{ creator.deathDate ? creator.deathDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('creator_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>

    <a href="{{ path('creator_edit', {'id': creator.id}) }}">Editer</a>

    {{ include('creator/_delete_form.html.twig') }}
{% endblock %}
