{% extends 'base.html.twig' %}

{% block title %}Editer Role{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/form_general.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Editer Role</h1>

    {{ include('audio_book/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('audio_book/_delete_form.html.twig') }}

    <a href="{{ path('audio_book_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
{% endblock %}
