{% extends 'base.html.twig' %}

{% block title %}Liste des Roles{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/crud_index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Roles</h1>
    
    <a href="{{ path('role_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.label }}</td>
                {% include "layout/crudActions.html.twig" with {'crudName': 'role', 'crudElement': role} %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
