{% extends 'base.html.twig' %}

{% block title %}Ajouter Livre Audio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/form_general.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/form_products.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter un Livre Audio</h1>

    {{ include('audio_book/_form.html.twig') }}

    <a href="{{ path('audio_book_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/creatorCollection.js')}}"></script>
{% endblock %}