{% extends 'base.html.twig' %}

{% block title %}Ajouter Livre Audio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/product_forms.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Ajouter un Livre Audio</h1>

    {{ include('audio_book/_form.html.twig') }}

    <a href="{{ path('creator_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/creatorCollection.js')}}"></script>
{% endblock %}