{% extends 'base.html.twig' %}

{% block title %}AudioBook{% endblock %}

{% block body %}
    <h1>Livre audio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audio_book.id }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ audio_book.duration ? audio_book.duration|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('audio_book_index') }}">Retour à la liste</a>

    <a href="{{ path('audio_book_edit', {'id': audio_book.id}) }}">Editer</a>

    {{ include('audio_book/_delete_form.html.twig') }}
{% endblock %}
