{% extends 'base.html.twig' %}

{% block title %}Liste des Cd{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des CD</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>

                <th>Plages</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in cds %}
            <tr>
                {{ include ("layout/globalProduct.html.twig",{'product': product } ) }}
                <td>{{ product.plages }}</td>
                <td>{{ product.duration ? product.duration|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('cd_show', {'id': product.id}) }}">Voir</a>
                    <a href="{{ path('cd_edit', {'id': product.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cd_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
