{% extends 'base.html.twig' %}

{% block title %}New Cd{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/product_forms.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Create new Cd</h1>

    {{ include('cd/_form.html.twig') }}

    <a href="{{ path('cd_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/creatorCollection.js')}}"></script>
{% endblock %}
