{% extends 'base.html.twig' %}

{% block title %}Ajouter Cd{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/product_forms.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter un Cd</h1 class="my-4">

    {{ include('cd/_form.html.twig') }}

    <a href="{{ path('cd_index') }}" type="btn" class="btn btn-outline-secondary my-3">Retour à la Liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/creatorCollection.js')}}"></script>
{% endblock %}
