{% extends 'base.html.twig' %}

{% block title %}Cd{% endblock %}

{% block body %}
    <h1>Cd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cd.id }}</td>
            </tr>
            <tr>
                <th>Plages</th>
                <td>{{ cd.plages }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ cd.duration ? cd.duration|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cd_index') }}">back to list</a>

    <a href="{{ path('cd_edit', {'id': cd.id}) }}">edit</a>

    {{ include('cd/_delete_form.html.twig') }}
{% endblock %}
