{% extends 'base.html.twig' %}

{% block title %}Liste des Ressources{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Ressources</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>{{ resource.id }}</td>
                <td>{{ resource.url }}</td>
                <td>{{ resource.type }}</td>
                <td>
                    <a href="{{ path('resources_show', {'id': resource.id}) }}" type="btn" class="btn btn-info">Voir</a>
                    <a href="{{ path('resources_edit', {'id': resource.id}) }}" type="btn" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resources_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>
{% endblock %}
