{% extends 'base.html.twig' %}

{% block title %}Resources index{% endblock %}

{% block body %}
    <h1>Resources index</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>{{ resource.id }}</td>
                <td>{{ resource.url }}</td>
                <td>{{ resource.type }}</td>
                <td>
                    <a href="{{ path('resources_show', {'id': resource.id}) }}">show</a>
                    <a href="{{ path('resources_edit', {'id': resource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resources_new') }}">Create new</a>
{% endblock %}
