{% extends 'base.html.twig' %}

{% block title %}Editer E-Book{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Editer E-Book</h1>

    {{ include('ebook/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('ebook/_delete_form.html.twig') }}

    <a href="{{ path('ebook_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/involvedCreatorCollection.js')}}"></script>
{% endblock %}