<td>{{ product.id }}</td>
<td>{{ product.productCode }}</td>
<td>{{ product.stock }}</td>
<td>{{ product.format }}</td>
<td>{{ product.category }}</td>
<td>{{ product.title }}</td>
<td>
    {% for involvement in product.isInvolvedIns %}
        <p>{{ involvement.creator}}</p>
    {% endfor %}
</td>