
    <a class="navbar-brand" href="{{ path('admin') }}">Mediathèque 3WAcadémie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produits
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('book_index') }}">Livres</a>
                    <a class="dropdown-item" href="{{ path('audio_book_index') }} ">Livres Audio</a>
                    <a class="dropdown-item" href="{{ path('ebook_index') }}">E-Books</a>
                    <a class="dropdown-item" href="{{ path('journal_index') }}">Journaux</a>
                    <a class="dropdown-item" href="{{ path('cd_index') }}">CD</a>
                    <a class="dropdown-item" href="{{ path('dvd_index') }}">DVD</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li>
                <a class="nav-link" href="{{ path('meet_up_index') }}">Événements<span class="sr-only">(current)</span></a> 
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon Compte
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mon Profil</a>
                    <a class="dropdown-item" href="#">Mes Emprunts</a>
                    <a class="dropdown-item" href="#">Mes Événements</a>
                </div>
            </li>
        </ul>
    </div>
