<a class="navbar-brand" href="{{ path('home') }}">Mediathèque 3WAcadémie</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produits
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('book_index') }}">Livres</a>
                <a class="dropdown-item" href="{{ path('audio_book_index') }} ">Livres Audio</a>
                <a class="dropdown-item" href="{{ path('ebook_index') }}">E-Books</a>
                <a class="dropdown-item" href="{{ path('journal_index') }}">Journaux</a>
                <a class="dropdown-item" href="{{ path('cd_index') }}">CD</a>
                <a class="dropdown-item" href="{{ path('dvd_index') }}">DVD</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li>
            <a class="nav-link" href="{{ path('meet_up_index') }}">Événements<span class="sr-only">(current)</span></a> 
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mon Compte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Mon Profil</a>
                <a class="dropdown-item" href="#">Mes Emprunts</a>
                <a class="dropdown-item" href="#">Mes Événements</a>
            </div>
        </li>
        <li>
            <a class="nav-link" href="{{ path('statistics') }}"> Statistiques </a>
        </li>
    </ul>
</div>

<!-- Modal -->
<!--
<div id="myModal" class="modal">
  <div class="modal-content">
    <header>
        <span class="close">&times;</span>
        <a href="" class="">Log In</a><span> / </span>
        <a href="" class="">Sign In</a>        
    </header>
    <form action="">
        <section class="logIn"> 
            <article>
                <label for="">Username</label>
                <input type="text">
            </article>
            <article>
                <label for="">Password</label>
                <input type="password">
            </article>
            <input type="submit" value="soumettre">
        </section>
        <section class="signIn">
            <article>
                <label for="">Pseudo</label>
                <input type="text">
            </article>
            <article>
                <label for="">First Name</label>
                <input type="text">
            </article>
            <article>
                <label for="">Last Name</label>
                <input type="text">
            </article>
            <article>
                <label for="">Email</label>
                <input type="text">
            </article>
            <article>
                <label for="">Password</label>
                <input type="text">
            </article>
            <input type="submit" value="soumettre">
        </section>
    </form>
  </div>
</div>
-->

<div class="nav-item connexion">
    <a href="#" class="nav-link" id="none">Admin</a>
    <a href="#" class="nav-link" id="connexion">Log In / Sign In</a>
</div>

<label class="switch">
    <input id="nuit" type="checkbox">
    <span class="slider round"></span>
</label>