{% extends 'base.html.twig' %}

{% block title %}Liste des Maintenances{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/crud_index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des Maintenances</h1>

    <a href="{{ path('maintenance_new') }}" type="btn" class="btn btn-outline-secondary my-3">Ajouter nouveau</a>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Date Maintenance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maintenance in maintenances %}
            <tr>
                <td>{{ maintenance.status }}</td>
                <td>{{ maintenance.maintenanceDate ? maintenance.maintenanceDate|date('Y-m-d H:i:s') : '' }}</td>
                {% include "admin/layout/crudActions.html.twig" with {'crudName': 'maintenance', 'crudElement': maintenance} %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entitée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
