{% extends 'base.html.twig' %}

{% block title %}Ajouter Evénement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Ajouter un Evénement</h1>

    {{ include('admin/meet_up/_form.html.twig') }}

    <a href="{{ path('meet_up_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/js/guestCreatorCollection.js')}}"></script>
{% endblock %}
