{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/show_entity.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="my-4">Artiste</h1>

    <table class="table text-center">
        <tbody>
            <tr>
                                <td>{{ creator.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ creator.nickName }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ creator.passwd }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ creator.email }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ creator.firstName }}</td>
            </tr>
            <tr>
                <th>Nom de Famille</th>
                <td>{{ creator.lastName }}</td>
            </tr>
            <tr>
                <th>Date Naissance</th>
                <td>{{ creator.birthDate ? creator.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date Décès</th>
                <td>{{ creator.deathDate ? creator.deathDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="actions my-3">
        <a href="{{ path('creator_edit', {'id': creator.id}) }}" type="btn" class="btn btn-success">Editer</a>
        {{ include('creator/_delete_form.html.twig') }}
        <a href="{{ path('creator_index') }}" type="btn" class="btn btn-outline-secondary">Retour à la Liste</a>
    </div>
{% endblock %}
